<header class="z-index">
  <div class="container">
    <div class="header">
      <div class="header__title">Cashalot</div>
      <ul class="header__list">
        <li><a href="#">Инвестиции</a></li>
        <li><a href="#">Обучение</a></li>
        <li><a href="#">Обмен валют</a></li>
        <li><a href="#">Токен</a></li>
      </ul>

      <div class="header__btn">
        <div>
          <button class="btn primary-btn outline-btn">
            Вход
          </button>
        </div>
        <div>
          <button class="btn primary-btn">
            Регистрация
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
</header>