@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6y3nnw")
      format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6y3nnw")
      format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6y3nnw##{$icomoon-font-family}")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-square {
  &:before {
    content: $icon-check-square;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-profile {
  &:before {
    content: $icon-profile;
  }
}
.icon-heart-filled {
  &:before {
    content: $icon-heart-filled;
  }
}
.icon-heart-outline {
  &:before {
    content: $icon-heart-outline;
  }
}
.icon-shop-cart {
  &:before {
    content: $icon-shop-cart;
  }
}
.icon-alert-outline {
  &:before {
    content: $icon-alert-outline;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-previous-arrow {
  &:before {
    content: $icon-previous-arrow;
  }
}
.icon-next-arrow {
  &:before {
    content: $icon-next-arrow;
  }
}
.icon-size {
  &:before {
    content: $icon-size;
  }
}
.icon-viber {
  &:before {
    content: $icon-viber;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-arrow-next {
  &:before {
    content: $icon-arrow-next;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-filled-arrow-down {
  &:before {
    content: $icon-filled-arrow-down;
  }
}
