$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-check-square: "\e912";
$icon-check: "\e913";
$icon-profile: "\e910";
$icon-heart-filled: "\e90f";
$icon-heart-outline: "\e90e";
$icon-shop-cart: "\e90b";
$icon-alert-outline: "\e900";
$icon-delete: "\e901";
$icon-remove: "\e902";
$icon-previous-arrow: "\e903";
$icon-next-arrow: "\e904";
$icon-size: "\e905";
$icon-viber: "\e906";
$icon-telegram: "\e907";
$icon-instagram: "\e908";
$icon-facebook: "\e909";
$icon-arrow-next: "\e90a";
$icon-arrow-up: "\e90c";
$icon-search: "\e90d";
$icon-filled-arrow-down: "\e911";
